# Python cache e compilados
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Build e distribuição Python (se houver)
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp
*.swp
